---
export interface Props {
  title: string;
  description: string;
  icon: string;
  href: String;
}
import { Image } from "astro:assets";
const { title, description, icon, href } = Astro.props;
import react from "../img/bidcraft/icons8-reaccionar-40.png";
import django from "../img/bidcraft/icons8-django-48.png";
import postgres from "../img/bidcraft/icons8-postgresql-48.png";
import tailwind from "../img/bidcraft/icons8-viento-de-cola-css-48.png";

import sprint from "../img/sportblog/1_i3gZBdrn_pk4PiyNahtm5Q.png";
import laravel from "../img/sportblog/icons8-laravel-64.png";
import mysql from "../img/sportblog/mysql.png"

import js from "../img/ubereats/icons8-javascript-48.png";
import php from "../img/ubereats/icons8-php-48.png";

import bootstrap from "../img/sportblog/icons8-oreja-48.png";

//probando algo
const hrefString = String(href);
---

<a href={hrefString}>
  <div class="card-container m-5">
    <div class="card border-y-violet-400">
      <div class="front-content flex flex-col">
        <div><p>{title}</p></div>
        <div class="flex flex-row gap-x-3 mt-4">
          {
            title === "BidCraft" && (
              <>
                <Image src={react} alt="Uayeb Caballero" />
                <Image src={django} alt="Uayeb Caballero" />
                <Image src={postgres} alt="Uayeb Caballero" />
                <Image src={tailwind} alt="Uayeb Caballero" />
              </>
            )
          }

          {
            title === "Sport Blog" && (
              <>
                <Image
                  src={sprint}
                  alt="Uayeb Caballero"
                  width={80}
                  height={70}
                />
                <Image src={laravel} alt="Uayeb Caballero"  class="w-[48px] h-[48px]" />
                <Image src={bootstrap} alt="Uayeb Caballero" />
                <Image src={mysql} alt="Uayeb Caballero" class="w-[48px] h-[48px]" />
    
              </>
            )
          }

          {
            title === "Uber Eats" && (
              <>
                <Image src={bootstrap} alt="Uayeb Caballero" />
                <Image src={js} alt="Uayeb Caballero" />
                <Image src={php} alt="Uayeb Caballero" />
              </>
            )
          }
        </div>
      </div>
      <div class="content">
        <p class="heading">{title}</p>
        <p>
          {description}
        </p>
      </div>
    </div>
  </div>
</a>

<style>
  /* From Uiverse.io by gharsh11032000 */
  .card-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(17, 14, 14, 0.2);
    overflow: hidden;
  }

  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #8d2e590c;
  }

  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateY(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card .content .heading {
    font-size: 32px;
    font-weight: 700;
  }

  .card:hover .content {
    transform: translateY(0);
  }

  .card:hover .front-content {
    transform: translateY(-30%);
  }

  .card:hover .front-content p {
    opacity: 0;
  }
</style>

<script>
  // Puedes utilizar esto dentro de un componente Astro (.astro o .js)
  const images = import.meta.glob("../img/ubereats/*.{png,jpg,jpeg,gif,svg}", {
    eager: true,
  });

  // Luego puedes mapearlas para utilizarlas
  const imageArray = Object.entries(images).map(([path, module]) => ({
    path, // Ruta de la imagen
    src: module, // Fuente de la imagen importada
  }));
  console.log(imageArray[0].path);
</script>
